body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  width: 100%;
}
.hero-section {
  background-image: url(hero-img.jpg);
  /* background-image: url(pexels-lara-jameson-8886948.jpg); */
  background-size: cover;
  height: 120vh;
  color: whitesmoke;
}

.hero-area {
  position: relative;
  top: 30%;
}

.image-3{
  border-radius: 10px 10px 10px 90px;
}
.image-2{
  border-radius: 10px 90px 10px 10px;
}
.image-1{
  border-radius: 10px 10px 10px 90px;
}


.animation{
  overflow: hidden;
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/* Footer  */
.footer {
  height: 60vh;
  width: 100vw;
  font-size: 14px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.foot {
  font-size: 14px;
  background: #e9967a;
}

nav a {
  color: white;
  text-decoration: none;
}
